body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.center-container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

td {
    cursor: pointer;
    border: 4px solid rgb(0, 200, 255);
    padding: 0;
    width: 200px;
    height: 200px;
    filter: contrast(3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px 120px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
}
