html {
    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px; 
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

input:focus {
    outline: none;
}

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

.remove {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove:hover {
    background-color: darkred;
}
