body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
}

h2 {
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #0076B3;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005f8f;
}
